imports:
    - { resource: config_dev.yml }

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        collect: false
        collect_serializer_data: true
    mailer:
        dsn: 'null://null'

web_profiler:
    toolbar: false
    intercept_redirects: false
